<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPanel</title>
</head>
<body>
<div class="container">
    <div class="row col-md-10">
        <h2>Lista de produse</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Denumire Produs</th>
            <th>Descriere</th>
            <th>Pret</th>
            <th>Stock</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each = "product : ${products}">
            <td th:text = "${product.name}"></td>
            <td th:text = "${product.description}"></td>
            <td th:text = "${product.price}"></td>
            <td th:text = "${product.stock}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>