<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPanel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/index}">OCP</a>
<!--            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">-->
<!--                <a th:href="@{/panel}" class="btn btn-primary">Admin Panel</a>-->
<!--            </div>-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <h1 class="text-center"> Panou control admin</h1>
            <h3 class="text-center">Creeaza un nou produs</h3>
            <div class="text-center">
                <a class="btn btn-primary" th:href="@{/panel/add-product}">Creeaza!</a>
            </div>

            <h5 class="text-center"> Creeaza un nou rol</h5>
        </div>
        <div class="text-center">
            <a class="btn btn-success" th:href="@{/panel/create-role}">Creeaza</a>
        </div>
    </div>
<!--    <div class="row col-md-10">-->
<!--        <h2>Lista de produse</h2>-->
<!--    </div>-->
<!--    <table class="table table-bordered table-hover">-->
<!--        <thead class="table-dark">-->
<!--        <tr>-->
<!--            <th>Denumire Produs</th>-->
<!--            <th>Descriere</th>-->
<!--            <th>Pret</th>-->
<!--            <th>Stock</th>-->

<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each = "product : ${products}">-->
<!--            <td th:text = "${product.name}"></td>-->
<!--            <td th:text = "${product.description}">-->
<!--            </td><td><img th:src="${product.imageUrl}" alt=""></td>-->
<!--            <td th:text = "${product.price}"></td>-->
<!--            <td th:text = "${product.stock}"></td>-->
<!--        </tbody>-->
<!--    </table>-->
</div>
</body>
</html>